<p id="notice"><%= notice %></p>

<p>
  <b>Kf course:</b>
  <%= @kf_course_user_fav.kf_course_id %>
</p>

<p>
  <b>User info:</b>
  <%= @kf_course_user_fav.user_info_id %>
</p>

<p>
  <b>State:</b>
  <%= @kf_course_user_fav.state %>
</p>

<p>
  <b>Start time:</b>
  <%= @kf_course_user_fav.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @kf_course_user_fav.end_time %>
</p>

<p>
  <b>Day 1 time:</b>
  <%= @kf_course_user_fav.day_1_time %>
</p>

<p>
  <b>Day 2 time:</b>
  <%= @kf_course_user_fav.day_2_time %>
</p>

<p>
  <b>Day 3 time:</b>
  <%= @kf_course_user_fav.day_3_time %>
</p>

<p>
  <b>Day 4 time:</b>
  <%= @kf_course_user_fav.day_4_time %>
</p>

<p>
  <b>Day 5 time:</b>
  <%= @kf_course_user_fav.day_5_time %>
</p>


<%= link_to 'Edit', edit_kf_course_user_fav_path(@kf_course_user_fav) %> |
<%= link_to 'Back', kf_course_user_favs_path %>
