<script>
  var _nested_form = true;
  $(function() {
    function init_select_shop(){
      $(".search_shop").after('<br />搜索：<input id="search_shop" type="text" value=""><a href="javascript:;" class="btn" onclick=\'$(".search_shop").empty();\'>清空</a>');
      $( "#search_shop" ).autocomplete({
        source: "<%= url_for :controller=> '/dashboard' , :action => 'search_shop' %>",
        select: function( event, ui ) {
          $('.search_shop').append( $("<option></option>").attr("value",ui.item.id).text(ui.item.label) )
          $('.search_shop option').each(function(index,item){
            item.selected = true
          })
          setTimeout(function(){
            $('#search_shop').val('')
          },100);
          // alert($('#search_shop').val())
        }
      });
      $('.search_shop').dblclick(function(){
        $('.search_shop option:selected').remove()
      })
      $('.search_shop option').each(function(index,item){
        if(item.selected != true)
          item.selected = true
      })
    }
    init_select_shop();
  });
</script>
<%= semantic_bootstrap_nested_form_for  @content_item , :url => url_for( :page=>params[:page],:sort_id=>params[:sort_id], :action => params[:action]=="edit" ? "update" : "create") do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
    <%= f.input :id ,:as => :hidden %>

    <%= render 'admins/sortselector' %>
    <%= f.input :cms_sorts ,:collection =>f.object.cms_sorts , :input_html =>{:class=>"sort_selector"}%>

    <% if @content_distitle["title"].to_s!="1"  %>
        <%= f.input :title %>
    <% end %>
    <% if @content_distitle["abstract"].to_s!="1"  %>
        <%= f.input :abstract ,:input_html =>{:class=>"small-textarea"} %>
    <% end %>

    <%= render 'admins/formcontent' , f: f %>

    <% if @content_distitle["order_level"].to_s!="1"  %>
        <%= f.input :order_level ,:input_html =>{:class=>"small-text"}%>
    <% end %>
    <% if @content_distitle["is_push"].to_s!="1"  %>
        <%= f.input :is_push %>
    <% end %>
    <% if @content_distitle["is_show"].to_s!="1"  %>
        <%= f.input :is_show %>
    <% end %>
    <% if @content_distitle["shop_contents"].to_s!="1"  %>
        <hr class="Clear"/>
        <%= f.input :shop_contents  , :collection => NewsContentsShopContents.select("cms_contents.*").joins("left join cms_contents on (news_contents_shop_contents.shop_content_id = cms_contents.id)").where("news_contents_shop_contents.news_content_id='#{@content_item.id}'").all.map{|b| [ b[:title] , b[:id] ] } , :input_html =>{:class=>"search_shop"}%>
    <% end %>
    <% if @content_distitle["product_contents"].to_s!="1"  %>
        <hr/>
        <%= f.input :product_contents ,:collection =>ProductContent.where(:project_info_id =>@admin_info.project_info_id)%>
    <% end %>
    <% if @content_distitle["video_url"].to_s!="1"  %>
        <hr/>
        <div><%= f.object.video_url %></div>
        <%= f.input :video_url %>
    <% end %>
    <% if @content_distitle["image_cover"].to_s!="1"  %>
        <hr/>
        <%= raw "<img style='height:200px;margin-left:100px;' src='http://is.hudongka.com/#{@content_item.image_cover}'/>" if !@content_item.image_cover.blank? %>
        <%= f.input :image_cover %>
    <% end %>
    <% if @content_distitle["cms_content_img"].to_s!="1"  %>
        <%= f.fields_for :cms_content_img do |imgf| %>
            <%= raw "<img style='height:200px;margin-left:100px;' src='http://is.hudongka.com/#{imgf.object.image}'/>" if !imgf.object.image.blank? %>
            <%= imgf.input :image  %>
            <%= imgf.input :description ,:input_html =>{:class=>"small-textarea"} %>
            <%= imgf.input :project_info_id , :as => :hidden ,:collection => @admin_info.project_info_id %>
            <%= imgf.link_to_remove "删除" %>
        <% end %>
        <p><%= f.link_to_add "添加图片", :cms_content_img %></p>
    <% end %>
  <% end %>


  <%= f.actions do %>
    <%= f.action :submit %>
  <% end %>
<% end %>