<%= semantic_bootstrap_nested_form_for @kf_doctor , :url => url_for( :page=>params[:page], :action => params[:action]=="edit" ? "update" : "create") do |f| %>
  <% if @kf_doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kf_doctor.errors.count, "error") %> prohibited this kf_doctor from being saved:</h2>

      <ul>
      <% @kf_doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.inputs "基本" ,:id => "basic" do %>
    <%= f.input :name %>
    <%= f.input :image_cover %>
    <%= f.input :description %>
  <% end %>
  <%= f.inputs "选填" ,:id => "advance" do %>
    <%= f.input :user_info_id %>
    <%= f.input :city_id%>
    <%= f.input :hospital_id%>
    <%= f.input :office_id %>
    <%= f.input :doctor_group_id %>
    <script> 
    input_to_hierarchy_selector( 
      [$("#kf_doctor_city_id"),$("#kf_doctor_hospital_id"),$("#kf_doctor_office_id"),$("#kf_doctor_doctor_group_id")]
      ,["/kf/sorts/","/kf/sorts/","/kf/sorts/","/kf/sorts/"] 
      , 9  )
    </script>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit ,:label => params[:action]=="edit" ? "修改" : "添加" %>
  <% end %>
<% end %>
