<p id="notice"><%= notice %></p>

<p>
  <b>Kf diary:</b>
  <%= @kf_diary_attachment.kf_diary_id %>
</p>

<p>
  <b>Order level:</b>
  <%= @kf_diary_attachment.order_level %>
</p>

<p>
  <b>Title:</b>
  <%= @kf_diary_attachment.title %>
</p>

<p>
  <b>Attachment type:</b>
  <%= @kf_diary_attachment.attachment_type %>
</p>

<p>
  <b>Attachment:</b>
  <%= @kf_diary_attachment.attachment %>
</p>


<%= link_to 'Edit', edit_kf_diary_attachment_path(@kf_diary_attachment) %> |
<%= link_to 'Back', kf_diary_attachments_path %>
