<p id="notice"><%= notice %></p>

<p>
  <b>Kf course:</b>
  <%= @kf_course_todo.kf_course_id %>
</p>

<p>
  <b>Kf course index:</b>
  <%= @kf_course_todo.kf_course_index_id %>
</p>

<p>
  <b>Order level:</b>
  <%= @kf_course_todo.order_level %>
</p>

<p>
  <b>Title:</b>
  <%= @kf_course_todo.title %>
</p>

<p>
  <b>Image cover:</b>
  <%= @kf_course_todo.image_cover %>
</p>

<p>
  <b>Content:</b>
  <%= @kf_course_todo.content %>
</p>


<%= link_to 'Edit', edit_kf_course_todo_path(@kf_course_todo) %> |
<%= link_to 'Back', kf_course_todos_path %>
