<h1>
  <%= Kf::CourseIndex.model_name.human %>管理 
  <%= link_to "新建#{ Kf::CourseIndex.model_name.human }",  { :action => "new", :page => params[:page]} ,:class =>"btn btn-primary"%>
  <span><form action="<%= url_for%>">
    <input name="search" id="search_list_input" value="<%= params[:search]%>" type="text" />
    <input name="page"  type="hidden" value="<%= params[:page]%>"/>
    <input name="per_page" type="hidden" value="<%= params[:per_page]%>"/>
    <button href="javascript:;" onclick="search_list" class="btn" >搜索</button>
  </form></span>
</h1>
<%= will_paginate @kf_course_indices , renderer: BootstrapPagination::Rails %>
<table class="table table-bordered table-hover">
  <tr>
    <th>ID</th>
    <th><%= Kf::CourseIndex.human_attribute_name("kf_course_id") %></th>
    <th><%= Kf::CourseIndex.human_attribute_name("kf_doctor_id") %></th>
    <th><%= Kf::CourseIndex.human_attribute_name("kf_course_item_type_id") %></th>
    <th><%= Kf::CourseIndex.human_attribute_name("day_start_type") %></th>
    <th><%= Kf::CourseIndex.human_attribute_name("day_start") %></th>
    <th><%= Kf::CourseIndex.human_attribute_name("day_duration") %></th>
    <th><%= Kf::CourseIndex.human_attribute_name("order_level") %></th>
    <th><%= Kf::CourseIndex.human_attribute_name("title") %></th>
    <th><%= Kf::CourseIndex.human_attribute_name("image_cover") %></th>
    <th><%= Kf::CourseIndex.human_attribute_name("content") %></th>
    <th width="90">操作</th>
  </tr>

<% @kf_course_indices.each do |kf_course_index| %>
  <tr>
    <td><%= kf_course_index.id %></td>
    <td><%= kf_course_index.kf_course_id %></td>
    <td><%= kf_course_index.kf_doctor_id %></td>
    <td><%= kf_course_index.kf_course_item_type_id %></td>
    <td><%= kf_course_index.day_start_type %></td>
    <td><%= kf_course_index.day_start %></td>
    <td><%= kf_course_index.day_duration %></td>
    <td><%= kf_course_index.order_level %></td>
    <td><%= kf_course_index.title %></td>
    <td><%= kf_course_index.image_cover %></td>
    <td><%= kf_course_index.content %></td>
    <td>
        <%= link_to '编辑',  :action => "edit" , :id =>kf_course_index.id , :page => params[:page]%>
        <br />
        <%= link_to '删除', { :action => "destroy", :id =>kf_course_index.id , :page => params[:page]},  method: :delete, data: { confirm: '确定删除？' } %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @kf_course_indices , renderer: BootstrapPagination::Rails %>
<br />
