<p id="notice"><%= notice %></p>

<p>
  <b>Kf course:</b>
  <%= @kf_course_index.kf_course_id %>
</p>

<p>
  <b>Kf doctor:</b>
  <%= @kf_course_index.kf_doctor_id %>
</p>

<p>
  <b>Kf course item type:</b>
  <%= @kf_course_index.kf_course_item_type_id %>
</p>

<p>
  <b>Day start type:</b>
  <%= @kf_course_index.day_start_type %>
</p>

<p>
  <b>Day start:</b>
  <%= @kf_course_index.day_start %>
</p>

<p>
  <b>Day duration:</b>
  <%= @kf_course_index.day_duration %>
</p>

<p>
  <b>Order level:</b>
  <%= @kf_course_index.order_level %>
</p>

<p>
  <b>Title:</b>
  <%= @kf_course_index.title %>
</p>

<p>
  <b>Image cover:</b>
  <%= @kf_course_index.image_cover %>
</p>

<p>
  <b>Content:</b>
  <%= @kf_course_index.content %>
</p>


<%= link_to 'Edit', edit_kf_course_index_path(@kf_course_index) %> |
<%= link_to 'Back', kf_course_indices_path %>
