<h1>
  <%= Kf::GlobalConfig.model_name.human %>管理 
  <%= link_to "新建#{ Kf::GlobalConfig.model_name.human }",  { :action => "new", :page => params[:page]} ,:class =>"btn btn-primary"%>
  <span><form action="<%= url_for%>">
    <input name="search" id="search_list_input" value="<%= params[:search]%>" type="text" />
    <input name="page"  type="hidden" value="<%= params[:page]%>"/>
    <input name="per_page" type="hidden" value="<%= params[:per_page]%>"/>
    <button href="javascript:;" onclick="search_list" class="btn" >搜索</button>
  </form></span>
</h1>
<%= will_paginate @kf_global_configs , renderer: BootstrapPagination::Rails %>
<table class="table table-bordered table-hover">
  <tr>
    <th width="30">ID</th>
    <th><%= Kf::GlobalConfig.human_attribute_name("config_type") %></th>
    <th><%= Kf::GlobalConfig.human_attribute_name("key") %></th>
    <th><%= Kf::GlobalConfig.human_attribute_name("value") %></th>
    <th width="90">操作</th>
  </tr>

<% @kf_global_configs.each do |kf_global_config| %>
  <tr>
    <td><%= kf_global_config.id %></td>
    <td><%= kf_global_config.config_type %></td>
    <td><%= kf_global_config.key %></td>
    <td><%= kf_global_config.value %></td>
    <td>
        <%= link_to '编辑',  :action => "edit" , :id =>kf_global_config.id , :page => params[:page]%>
        <br />
        <%= link_to '删除', { :action => "destroy", :id =>kf_global_config.id , :page => params[:page]},  method: :delete, data: { confirm: '确定删除？' } %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @kf_global_configs , renderer: BootstrapPagination::Rails %>
