<h1>
  <%= Kf::CourseItemType.model_name.human %>管理 
  <%= link_to "新建#{ Kf::CourseItemType.model_name.human }",  { :action => "new", :page => params[:page]} ,:class =>"btn btn-primary"%>
  <span><form action="<%= url_for%>">
    <input name="search" id="search_list_input" value="<%= params[:search]%>" type="text" />
    <input name="page"  type="hidden" value="<%= params[:page]%>"/>
    <input name="per_page" type="hidden" value="<%= params[:per_page]%>"/>
    <button href="javascript:;" onclick="search_list" class="btn" >搜索</button>
  </form></span>
</h1>
<%= will_paginate @kf_course_item_types , renderer: BootstrapPagination::Rails %>
<table class="table table-bordered table-hover">
  <tr>
    <th>ID</th>
    <th><%= Kf::CourseItemType.human_attribute_name("order_level") %></th>
    <th><%= Kf::CourseItemType.human_attribute_name("title") %></th>
    <th><%= Kf::CourseItemType.human_attribute_name("image_cover") %></th>
    <th><%= Kf::CourseItemType.human_attribute_name("description") %></th>
    <th width="90">操作</th>
  </tr>

<% @kf_course_item_types.each do |kf_course_item_type| %>
  <tr>
    <td><%= kf_course_item_type.id %></td>
    <td><%= kf_course_item_type.order_level %></td>
    <td><%= kf_course_item_type.title %></td>
    <td><%= kf_course_item_type.image_cover %></td>
    <td><%= kf_course_item_type.description %></td>
    <td>
        <%= link_to '编辑',  :action => "edit" , :id =>kf_course_item_type.id , :page => params[:page]%>
        <br />
        <%= link_to '删除', { :action => "destroy", :id =>kf_course_item_type.id , :page => params[:page]},  method: :delete, data: { confirm: '确定删除？' } %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @kf_course_item_types , renderer: BootstrapPagination::Rails %>
