<p id="notice"><%= notice %></p>

<p>
  <b>Order level:</b>
  <%= @kf_course_item_type.order_level %>
</p>

<p>
  <b>Title:</b>
  <%= @kf_course_item_type.title %>
</p>

<p>
  <b>Image cover:</b>
  <%= @kf_course_item_type.image_cover %>
</p>

<p>
  <b>Description:</b>
  <%= @kf_course_item_type.description %>
</p>


<%= link_to 'Edit', edit_kf_course_item_type_path(@kf_course_item_type) %> |
<%= link_to 'Back', kf_course_item_types_path %>
