<%= javascript_include_tag "admins/global" ,"jquery.json-2.4" %>

<h1>
  <%="用户管理"%> <%= link_to "新建用户", { :action => "new", :sort_id => params[:sort_id]} ,:class =>"btn btn-primary"%>
  <span><form action="<%= url_for%>">
    <input name="words" id="search_list_input" value="<%= params[:words]%>" type="text" />
    <input name="page"  type="hidden" value="<%= params[:page]%>"/>
    <input name="per_page" type="hidden" value="<%= params[:per_page]%>"/>
    <input name="sort_id" type="hidden" value="<%= params[:sort_id]%>"/>
    <button href="javascript:;" onclick="search_list" class="btn" >搜索</button>
  </form></span>
</h1>
<%= will_paginate @content_items , renderer: BootstrapPagination::Rails %>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th width="30">ID</th>
    <th>电话</th>
    <th>姓名</th>
    <th>昵称</th>
    <th>自我描述</th>
    <th>生日</th>
    <th width="30">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @content_items.each do |content_item| %>
      <tr>
        <td><%= content_item.id %></td>
        <td><%= content_item.phone_number %></td>
        <td><%= content_item.name %></td>
        <td><%= content_item.nickname %></td>
        <td><%= content_item.description %></td>
        <td><%= content_item.birthday %></td>
        <td>
          <%= link_to '编辑',  :action => "edit" , :id =>content_item.id ,:controller_name=>"sys_user" ,:page => params[:page], :sort_id => params[:sort_id] %>
          <br />
          <%= link_to '删除', { :action => "destroy", :id =>content_item.id , :page => params[:page], :sort_id => params[:sort_id]},  method: :delete, data: { confirm: '确定删除？' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @content_items , renderer: BootstrapPagination::Rails %>
<br />
