<!DOCTYPE html>
<html>
<head>
  <title>宜云物联</title>

	<%= stylesheet_link_tag "bootstrap" %>
	<%= stylesheet_link_tag "bootstrap-responsive" %>


	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "bootstrap" %>
	<%= javascript_include_tag "bootstrap-carousel" %>
  	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=no">
</head>
<body>

<%= yield %>

<center>
<p>
	&copy; 上海宜云物联科技有限公司 2013  / 
	<a target="_blank" href="http://www.miibeian.gov.cn">沪ICP备11046596号<br><br></a>
</p>
</center>
</body>
</html>

